
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Baloo Bhaina', cursive;
}

p, b{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5rem;
}

li{
    font-family: 'PT Sans', sans-serif;
    line-height: 3rem;
    margin: 1rem 0;
}

a{
    text-decoration: none;
    color:black;
}

body{
    width:100%;
    background-color:black;

    display:grid;
    grid-template-rows: 3rem auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "heroImage"
    "mainInfo"
    "radiantBox"
    "portfolio"
    "footer";  
}

/*** HEADER ***/

header{
    grid-area: header;
    background-color: black;
    height:3rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

header h1{
    margin-left:5rem;
    color:white;
}

.headlineExtra{
    margin:0 1rem;
    font-size:1.1rem;
    color:white;
}

/*** HERO IMAGE ***/

.heroImageGrid{
    grid-area: heroImage;
}

.heroImage{  
    width:100%;
}

.heroImageMobile{
    display:none;
}

.heroImageSlider {
    background: black;
    width:100%;
}

.heroImageSlider img{
    position:absolute;
    top:3rem;
}

.sliderImages{
    transition: opacity 2000ms;
}

.hidden {
    opacity: 0;
}

.headlineSlider h4{
    position:absolute;
    transition: opacity 2000ms;
    top:23rem;
    left:5rem;
    font-size:1.5rem;
    color:white;
    background:#00000099;
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
}

/*** MAIN INFO AREA ***/

.mainInfo{
    grid-area: mainInfo;
    background-color: black;
}

.mainInfoGrid{
    display:grid;
    width:100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainInfoFoto mainInfoText mainInfoText";
}

/*** main info FOTO ***/
.mainInfoFoto{
    grid-area: mainInfoFoto;
    display:flex;  
}

.profilePictures{
    width:100%;
    border-radius: 0.2rem;
    padding:3rem 3rem 4.5rem 3rem; 
}

/*** main info TEXT CONTAINER ***/
.mainInfoText{
    grid-area: mainInfoText;
    margin:3rem 2rem 1rem 0;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.infoBoxContainer{
    display:flex;
    flex-direction: column;
    width:100%;
}

.infoBoxContainerMobile{
    display:none;
}

.boxTabs{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.boxTabs h2{
    font-size:0.8rem;
    letter-spacing: 0.1rem;
}

.tab{
    margin:0 0.5rem;
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height:2rem;
    transition: color 250ms ease-in-out;
}

.tab:hover{
    cursor: pointer;
    color:rgb(78, 87, 97);
}

.yellow{
    background-color: lightyellow;
}

.lavender{
    background-color: lavender;
}

.green{
    background-color: lightgreen;
}

.blue{
    background-color: lightskyblue;
}

.grey{
    background-color: lightslategray;
}

#textBox{
    display:flex;
    flex-grow: 1;
    align-items: stretch;
    margin:0 0.5rem;  
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;   
}

.textBoxText{
    display:flex;
    width:100%;
    background-color:white;
    padding:2.5rem 3.5rem;
    margin: 2rem;
    border-radius:0.2rem;
    box-shadow: 0 0 10px grey;  
}

.textBoxText p{
    color:black;
}

/***BELOW INFO CONTAINER***/

.radiantBox{
    height:8rem;
    grid-area:"radiantBox";
    background-image:linear-gradient(black, rgb(53, 53, 53));
    
}

/*** PORTFOLIO ***/
.portfolio{
    grid-area: portfolio;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding:0 5rem 2rem 5rem;
    background-color: rgb(53, 53, 53);
}

.portfolio .portfolioHead{
    
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:white;
    width:100%;
    background-color: rgb(53, 53, 53);
    margin: 0 0 2rem 0; 
}

.portfolio .portfolioHead h3{
    font-size:2rem;
}

.portfolio .portfolioHead a{
    color:white;
    transition: color 500ms ease-in-out;
}

.portfolio .portfolioHead a:hover{
    color:lightslategray;
}

/***portfolio PROJECTS***/
.portfolio .projectContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
}

.portfolio .project{
    width:15rem;
    display:flex;
    flex-direction:column;
    background-color:white;
    padding:1rem;
    margin:0 4rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem black;
}

.portfolio .project img{
    width:100%;
    box-shadow: 0 0 5px black;
}

.portfolio .project p{
    margin:1rem 1rem 0 1rem;
}

/*** FOOTER ***/
footer{
    grid-area: footer;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    background-color:  rgb(53, 53, 53);
    padding: 2rem;

    color:white;
}

footer .contactIcons{
    display:flex;
    
    margin: 0 1rem;
}

footer .contactIcons i{
    margin: 0 1rem;
    font-size: 2rem;
}

footer .contactIcons a{
    color:white;
    display:flex;
    align-items: center;
    text-decoration: none;
    transition: color 500ms ease-in-out;
}

footer .contactIcons a:hover{
    color:lightslategray;
}

footer p{
    font-size: 1.2rem;
}