*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Baloo Bhaina', cursive;
}

p, b{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5rem;
}

li{
    font-family: 'PT Sans', sans-serif;
    line-height: 3rem;
}

body{
    display:grid;

    width:100%;

    grid-template-rows: 3rem auto;
    grid-template-columns: 100%;

    grid-template-areas: 
    "header"
    "heroImage"
    "mainInfo"
    "radiantBox"
    "portfolio"
    "footer";
    background-color:black;

}

header{
    grid-area: header;
    background-color: black;
    height:3rem;
    display: flex;
    justify-content: start;
    align-items: center;

}

header h1{
    margin-left:5rem;
    color:white;
}

.headlineExtra{
    margin:0 1rem;
    font-size:1.1rem;
    color:white;
}

.heroImageGrid{
    grid-area: heroImage;
}


.heroImage{  
    width:100%;
}

.desktopSlider {
    background: black;
    width:100%;
}

.desktopSlider img{
    position:absolute;
    top:3rem;
}

.sliderImages{
    transition: opacity 2000ms;
}

.hidden {
    opacity: 0;
}

.heroImageMobile{
    display:none;
}

.hedalineSlider{
    position:absolute;
    
}

.headlineSlider h4{
    position:absolute;
    transition: opacity 2000ms;
    top:23rem;
    left:5rem;
    font-size:1.5rem;
    color:white;
    background:#00000099;
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
}

.mainInfo{
    position:static;
    grid-area: mainInfo;
    background-color: black;
}

.mainInfoGrid{
    display:grid;
    width:100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainInfoFoto mainInfoText mainInfoText";
    
}


.mainInfoFoto{
    grid-area: mainInfoFoto;
    display:flex;  
}

.profilePictures{
    width:100%;
    border-radius: 0.2rem;
    padding:3rem 3rem 4.5rem 3rem;

    
}



.mainInfoText{
    grid-area: mainInfoText;
    margin:3rem 2rem 1rem 0;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.infoBoxContainer{
    display:flex;
    flex-direction: column;
    width:100%;
}

.infoBoxContainerMobile{
    display:none;
}

.boxTabs{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.boxTabs h2{
    font-size:0.8rem;
    letter-spacing: 0.1rem;
}

.yellow{
    background-color: lightyellow;
}

.lavender{
    background-color: lavender;
}

.green{
    background-color: lightgreen;
}

.blue{
    background-color: lightskyblue;
}

.grey{
    background-color: lightslategray;
}


.tab{
    margin:0 0.5rem;
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height:2rem;
    transition: color 250ms ease-in-out;
}

.tab:hover{
    cursor: pointer;
    color:rgb(78, 87, 97);
}

#textBox{

    display:flex;
    flex-grow: 1;
    align-items: stretch;
    margin:0 0.5rem;
    
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    
}

.textBoxText{
    display:flex;
    width:100%;
    background-color:white;
    padding:2.5rem 3.5rem;
    margin: 2rem;
    border-radius:0.2rem;
    box-shadow: 0 0 10px grey;  
}

.textBoxText p{
    color:black;
}

.radiantBox{
    height:8rem;
    grid-area:"radiantBox";
    background-image:linear-gradient(black, rgb(53, 53, 53));
    
}
.portfolio{
    grid-area: portfolio;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding:0 5rem 2rem 5rem;
    background-color: rgb(53, 53, 53);
}

.portfolio .portfolioHead{
    
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:white;
    width:100%;
    background-color: rgb(53, 53, 53);
    margin: 0 0 2rem 0; 
}

.portfolio .portfolioHead h3{
    font-size:2rem;
}

.portfolio .portfolioHead a{
    text-decoration: none;
    color:white;
    transition: color 500ms ease-in-out;
}

.portfolio .portfolioHead a:hover{
    color:lightslategray;
}

.portfolio .projectContainer{
    display:flex;
    flex-direction: row;
}
.portfolio .project{
    display:flex;
    flex-direction:column;
    background-color:white;
    padding:1rem;
    margin:0 4rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem black;
}

.portfolio .project img{
    width:100%;
    box-shadow: 0 0 5px black;
}

.portfolio .project p{
    margin:1rem 1rem 0 1rem;
}

footer{
    grid-area: footer;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    background-color:  rgb(53, 53, 53);
    padding: 2rem;

    color:white;
}

footer .contactIcons{
    display:flex;
    
    margin: 0 1rem;
}

footer .contactIcons i{
    margin: 0 1rem;
    font-size: 2rem;
}

footer .contactIcons a{
    color:white;
    display:flex;
    align-items: center;
    text-decoration: none;
    transition: color 500ms ease-in-out;
}

footer .contactIcons a:hover{
    color:lightslategray;
}

footer p{
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px){

    .mainInfoGrid{
        grid-template-areas: 
        "mainInfoFoto mainInfoFoto mainInfoFoto"
        "mainInfoText mainInfoText mainInfoText";
    }

    .mainInfoFoto{
        justify-content: center;
    }

    .mainInfoFoto .profilePictures{
        width:40%;
    }

    .mainInfoText{
        height:30rem;
        padding:1rem;
    }

    .heroImageGrid h4{
        top:20rem;
        left:3rem;
    }

    .portfolio .project{
        margin: 0 1rem;
        padding:1rem;
    }
}

@media only screen and (max-width: 970px){
    .heroImageGrid h4{
        left:2rem;
        top:17rem;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 800px){
    .mainInfoGrid{
        grid-template-rows:auto;
        grid-template-columns: auto;
        grid-template-areas:
        "mainInfoFoto"
        "mainInfoText";
    }

    .profilePictures{
        padding:0;
    }

    header{
        z-index: 1000;
    }

    .blackMobile{
        margin-top:3.5rem;
    }

    .heroImage{
        display:none;
    }


    .heroImageMobile{
        display:flex;
        width:100%;
    }

    .heroImageGrid h4{
        left:2rem;
        top:38rem;
        font-size: 1.3rem;
    }
    .mainInfoText{
        margin:1rem;
        
    }

   .infoBoxContainer{
       display:none;
   } 

   .infoBoxContainerMobile{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
    position:absolute;
    
    width:95%;
    background-color: blue;
    margin-top: 2rem;
   }

   .infoMobile{
       display:flex;
       width:100%;
       flex-grow:1;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       border-bottom: 0.5rem solid black;
   }

   .infoNavMobile{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding:0.5rem;
   }

   .infoNavMobile:hover{
       cursor: pointer;
   }

   .infoBoxContainerMobile h2{
    color:black;
    margin: 0 0 0 2rem;
    font-size: 1.5rem;
    padding: 0.3rem 0 0 0;
   }

   .infoBoxContainerMobile i{
       font-size:2rem;
       margin: 0 2rem 0 0;
   }

   .portfolioHead p{
       font-size:2rem;
   }

   .portfolio .projectContainer{
       width:100%;
       flex-direction:column;
       align-items: center;
       
   }

   .portfolio .project{
       margin: 2rem 0;
       width:20rem;
   }

   footer{
       justify-content:center;
      align-items: center;
      flex-direction: column;
   }
   footer p{
       font-size:1.5rem;
       margin: 0 0 2.3rem 0;
   }

   footer .contactIcons i{
       font-size:3rem;
       margin: 0 2rem;
   }
}

@media only screen and (max-width: 650px){

    header{
        flex-direction: column;
        height:5.5rem;
        z-index:1000;
        align-items: flex-start;
    }
    .desktopSlider img{
        top:5.5rem;   
    }

    .blackMobile{
        margin-top:5.5rem;
    }

    header h1{
        margin: 0 0 0 2rem;
    }

    header .headlineExtra{
        margin: -1rem 0 0 1.5rem;
    }

}

@media only screen and (max-width: 450px){
    .desktopSlider img{
        top:6.5rem;   
    }

    .blackMobile{
        margin-top:6.5rem;
    }

    .heroImageGrid h4{
        left:1rem;
        top:30rem;
        font-size: 0.8rem;
        padding: 0.5rem;
        margin:0.5rem;
    }
}

@media only screen and (max-width: 350px){
    .heroImageGrid h4{
        left:0.5rem;
        top:25rem;
    }
}
