*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Baloo Bhaina', cursive;
}

p{
    font-family: 'PT Sans', sans-serif;
}

body{
    display:grid;

    width:100%;
    height: 100vh;

    grid-template-rows: auto;

    grid-template-areas: 
    "header"
    "heroImage"
    "mainInfo"
    "radiantBox"
    "portfolio"
    "footer";
    background-color:black;

}

header{
    grid-area: header;
    background-color: black;
    height:3rem;
    display: flex;
    justify-content: start;
    align-items: center;

}

header h1{
    margin-left:5rem;
    color:white;
}

.heroImageGrid{
    grid-area: heroImage;
    display:flex;

}

.heroImage{

    width:100%;
    opacity:0.9;
    position:relative;
    
   

}

.heroImageGrid h4{

    position:absolute;
    top:23rem;
    left:5rem;
    font-size:1.5rem;
    color:white;
    background:#00000090;
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;



}

.mainInfo{
    grid-area: mainInfo;
    background-color: black;
}

.mainInfoGrid{
    display:grid;
    width:100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "mainInfoFoto mainInfoText mainInfoText";
    
}


.mainInfoFoto{
    grid-area: mainInfoFoto;
    display:flex;
    padding:3rem 3rem 1rem 3rem;
}

.profilePictures{
    width:100%;
    border-radius: 0.2rem;
}

.mainInfoText{
    grid-area: mainInfoText;
    padding:3rem 3rem 1rem 3rem;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.infoBoxContainer{
    display:flex;
    flex-direction: column;

    
}

.boxTabs{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.boxTabs h2{
    font-size:0.8rem;
    letter-spacing: 0.1rem;
}

.yellow{
    background-color: lightyellow;
}

.lavender{
    background-color: lavender;
}

.lightgreen{
    background-color: lightgreen;
}

.lightblue{
    background-color: lightskyblue;
}

.lightgrey{
    background-color: lightgrey;
}


.tab{
    margin:0 1rem;
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    height:2rem;
}

.textBox{

    display:flex;
    flex-grow: 1;
    align-items: stretch;

    
    background-color:lightyellow;
    margin:0 1rem;
    
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    
}

.textBoxText{
    display:flex;

    background-color:white;
    padding:2.5rem 3.5rem;
    margin: 2rem;
    border-radius:0.2rem;
    box-shadow: 0 0 10px grey;
}

.textBoxText p{
    color:black;
}

.radiantBox{
    height:8rem;
    grid-area:"radiantBox";
    background-image:linear-gradient(black, rgb(53, 53, 53));
}
.portfolio{
    grid-area: portfolio;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding:0 5rem 2rem 5rem;
    background-color: rgb(53, 53, 53);
}

.portfolio .portfolioHead{
    
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:white;
    width:100%;
    background-color: rgb(53, 53, 53);
    margin: 0 0 2rem 0; 
}

.portfolio .portfolioHead h3{
    font-size:2rem;
}

.portfolio .portfolioHead a{
    text-decoration: none;
    color:white;
}

.portfolio .projectContainer{
    display:flex;
    flex-direction: row;
}
.portfolio .project{
    display:flex;
    flex-direction:column;
    background-color:white;
    padding:1rem;
    margin:0 4rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem black;
}

.portfolio .project img{
    width:100%;
    box-shadow: 0 0 5px black;
}

.portfolio .project p{
    margin:1rem 1rem 0 1rem;
}

footer{
    grid-area: footer;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    background-color:  rgb(53, 53, 53);
    padding: 2rem;

    color:white;
}

footer i{
    margin: 0 1rem;
    font-size: 2rem;
}

footer p{
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px){

    .mainInfoGrid{
        grid-template-areas: 
        "mainInfoFoto mainInfoFoto mainInfoFoto"
        "mainInfoText mainInfoText mainInfoText";
    }

    .mainInfoFoto{
        justify-content: center;
    }

    .mainInfoFoto .profilePictures{
        width:40%;
    }

    .mainInfoText{
        height:30rem;
        padding:1rem;
    }

    .heroImageGrid h4{
        top:20rem;
    }

    .portfolio .project{
        margin: 0 1rem;
        padding:1rem;
    }
}

@media only screen and (max-width: 950px){
    
}